.ant-layout.register-layout {
    min-height: 100vh;
  }
  
  .register-page-header {
    font-size: 8px;
    padding: 15px;
  }
  
  .register-form-container {
    color: rgba(0, 0, 0, 0.85);
    margin: 0 50px 0 50px;
    padding: 25px;
  }
  
  .register-form {
    background-color: white;
    padding: 15px;
  }
  
  .register-form-header {
    padding: 0 15px 0 15px;
    background-color: white;
  }